a {
    text-decoration: none;
    color: $link;
}

p:not(:last-of-type) {
    margin-bottom: $spacer !important;
}

.pingpress {
    font-weight: bold;
    color: $primary;
    font-style: italic;
    text-transform: uppercase;
}

.fw-bold {
    font-weight: bold;;
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font-size: 0.775rem;
}